{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Projects</h2>
                    <p>Some of My projects:</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">


                        <div class="resume-item">
                            <h5>Customize Heritrix 1.14 Heritrix 3.x.x to crawling IRAN Web Graph </h5>
                        </div>
                        <div class="resume-item">
                            <h5>Crawl and Analysis Web graph of IRAN, UK, Slovakia, UAE (Yazd University)</h5>
                        </div>
                        <div class="resume-item">
                            <h5>Participate in developing native persian Search Engine, Called Parsijoo. this S.E crawls
                                and index
                                about 60 million persian web pages(Yazd University)</h5>
                        </div>
                        <div class="resume-item">
                            <h5>Participate in developing native persian Search Engine, Called Parsijoo. this S.E crawls
                                and index about 60 million persian web pages (Yazd University)</h5>
                        </div>
                        <div class="resume-item">
                            <h5>develop a crawling algorithm called IECA, that was better in efficiency and memory
                                complexity vs PageRank (one the
                                GOOGLE crawling algorithm, the result publish in well-known Journal) </h5>
                        </div>
                        <div class="resume-item">
                            <h5>Crawling IMDB for educational purpose by Scrapy(Python framework)</h5>
                        </div>
                        <div class="resume-item">
                            <h5>develop some small projects in c# and sql server</h5>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Resume Section -->

    </main><!-- End #main -->

{% endblock content %}